<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>


    <!-- Fix: Package Visibility for Android 11+ (API 30+) -->
    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.gsf" />
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHealthReminder">

        <!-- Ensure GMS version is linked -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".features.ui_dashboard.DashboardActivity"
            android:exported="true"
            />

        <activity
            android:name=".features.welcome.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartHealthReminder.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.signIn.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartHealthReminder" />

        <activity
            android:name=".features.auth.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.forget_password.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.signup.CompleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.welcome.WelcomeActivity2"
            android:exported="false" />
        <activity
            android:name=".features.activity.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".features.activity.AddReminderActivity"
            android:exported="false" />
        <activity
            android:name=".features.activity.ViewReminderActivity"
            android:exported="false" />
        <activity
            android:name=".features.activity.EditAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".features.activity.CreateScheduleEntryActivity"
            android:exported="false" />
        <activity
            android:name=".features.activity.AlarmRingingActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />



        <activity
            android:name=".features.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".features.profileInfo.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.reports.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".features.plan.TodayPlanActivity"
            android:exported="false" />
        <activity
            android:name=".features.schedule.details.DayDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".features.schedule.details.AddNoteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".features.alarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".features.alarm.ReminderReceiver"
            android:exported="false" />

        <service
            android:name=".alarm.AlarmService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="alarm" />
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>