<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ================= PERMISSIONS ================= -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHealthReminder">

        <!-- ================= SPLASH (START HERE) ================= -->
        <activity
            android:name=".features.welcome.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartHealthReminder.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ================= LOGIN ================= -->
        <activity
            android:name=".features.auth.signIn.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartHealthReminder" />

        <!-- ================= AUTH ================= -->
        <activity android:name=".features.auth.signup.SignupActivity" android:exported="false" />
        <activity android:name=".features.auth.forget_password.ForgetPasswordActivity" android:exported="false" />
        <activity android:name=".features.auth.signup.CompleteProfileActivity" android:exported="false" />

        <!-- ================= WELCOME ================= -->
        <activity android:name=".features.welcome.WelcomeActivity2" android:exported="false" />

        <!-- ================= MAIN ================= -->
        <activity
            android:name=".features.activity.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".features.activity.AddReminderActivity" android:exported="false" />
        <activity android:name=".features.activity.EditAlarmActivity" android:exported="false" />
        <activity android:name=".features.activity.CreateScheduleEntryActivity" android:exported="false" />

        <activity
            android:name=".features.activity.AlarmRingingActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <!-- ================= OTHER SCREENS ================= -->
        <activity android:name=".features.search.SearchActivity" android:exported="false" />
        <activity android:name=".features.Profileinfo.reports.ProfileActivity" android:exported="false" />
        <activity android:name=".features.Profileinfo.reports.ReportsActivity" android:exported="false" />
        <activity android:name=".features.settings.SettingsActivity" android:exported="false" />
        <activity android:name=".features.plan.TodayPlanActivity" android:exported="false" />
        <activity android:name=".features.schedule.details.DayDetailsActivity" android:exported="false" />
        <activity
            android:name=".features.schedule.details.AddNoteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ================= RECEIVERS ================= -->
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="false">  <!-- ⬅️⬅️⬅️ غيّر لـ false -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".alarm.ReminderReceiver"
            android:exported="false" />

        <!-- ================= SERVICE ================= -->
        <service
            android:name=".alarm.AlarmService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="alarm" />
        </service>

        <!-- ================= META ================= -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

    </application>

</manifest>